<div class="app">
    <h1>Film List</h1>

    <div class="search">
        <input type="text" #movieSearchInput placeholder="Search movie">
    </div>

    <div class="container" *ngIf="(movies$ | async) as movies">
        <app-card-movie *ngFor="let movie of movies" [movie]="movie"></app-card-movie>
    </div>

    <ng-container *ngIf="showEmptyMessage">
        <h3 class="empty">No movies found</h3>
    </ng-container>
</div>